[Unit]
Description=cam-image-server
Requires=remote-fs.target 
After=remote-fs.target 

[Service]
#Type=notify
ExecStartPre=/bin/sleep 30 ; /bin/systemctl start qnap-Download.mount ; /bin/systemctl start qnap-BTSync.mount ; /bin/systemctl start qnap-share.mount
ExecStart=/usr/bin/node /opt/cam-image-server/cam-image-server.js

[Install]
WantedBy=multi-user.target
