[Unit]
Description=cam-image-server
After=remote-fs.target

[Service]
#Type=notify
ExecStartPre=/bin/sleep 30
ExecStartPre=/bin/mount -a
ExecStart=/usr/local/bin/node /opt/cam-image-server/cam-image-server.js

[Install]
WantedBy=multi-user.target
